<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Escolha Produto</title>
</head>

<body>
  <h2>Escolha um Vídeo Game</h2>
  <p>Há uma lista de 5 Vídeogames: </p>

  <form method="GET" action="http://localhost:8080/">
    <select name="id" id="jogos" required>
      <option value="1">Playstation 4</option>
      <option value="2">Xbox One</option>
      <option value="3">Nintendo Switch</option>
      <option value="4">Wii U</option>
      <option value="5">Nintendo DS</option>
    </select>
    <br><br>
    <input type="submit" value="Escolher">
  </form>
</body>

</html>